* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../storage/img/imagenes\ para\ fondo\ de\ pantalla\ grandes\ para\ windows\ 7\ de\ estrellas.gif);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

header {
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 2rem;
}

main {
    display: flex;
    height: 100%;
    /* background: yellow; */
    padding: 20px;
    justify-content: space-between;
}

.left_side {
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    scrollbar-width: none;
    gap: 35px;
}

.article_info {
    display: flex;
}

.article_info img {
    width: 40px;
    height: 40px;
}

.info_div {
    padding: 0px 15px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 1.1rem;
}

.mid {
    width: 59%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.circles {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    padding-top: 40px;
}

.circles img {
    height: 400px;
}

.progress-bar {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
  }

  .progress-bar > div {
    color: white;
    width: 70%;
  }

  .text_images {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 93%;
    height: 100%;
  }

#caja_content {
    padding: 5px;
    width: 270px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 45px;
    color: white;
    border: 1px solid white;
}

#caja_content > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
    scrollbar-width: none;
}

#caja_content > div > article {
    display: flex;
    justify-content: space-between;
}

.div_images {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 330px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.div_images > article{
    flex: 1;
    min-width: 100%;
    height: 230px;
    border-radius: 20px;
    overflow: hidden;
    object-fit: fill;
}

.div_images > article > img {
  height: 100%;
  width: 100%;
}





  .right_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 20%;
    height: 80%;
    padding-left: 0px;
    color: white;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .right_side > article {
    display: flex;
    justify-content: start;
    gap: 30px;
    padding-left: 30px;
  }

  .right_side > article > div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
  }

  .right_side > article > div > strong{
    width: 160px;
  }





  .footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 75px;
    position: fixed;
    display: flex;
    justify-content: center;
  }

  .footer > section {
    padding-top: 15px;
    background: rgba(1, 1, 31, 0.534);
    color: rgb(182, 182, 182);
    display: flex;
    gap: 35px;
    width: 70%;
    justify-content: center;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }

  .footer > section > article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer > section > article > img{
    width: 30px;
  }

  #imhere {
    transform: scale(1.1);
    color: red;
  }

  #imhere > div{
    width: 45px;
    height: 3px;
    background: red;
  }

  #pagination {
    display: flex;
    gap: 5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

  #pagination button {
    width: 35px;
    height: 35px;
    background: none;
    color: white;
    border: 1px solid white;
  }










  /* CAPSULES */

  #capsule_launches > div {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    padding-top: 30px;
    padding-left: 40px ;
  }

  #capsule_launches > div > strong{
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
  }

  #capsule_launches > div > ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .caja_capsule{
    padding: 5px;
    width: 270px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    color: white;
    border: 1px solid rgb(255, 255, 255);
  }

.caja_capsule > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
    scrollbar-width: none;
}

.caja_capsule > div > article {
    display: flex;
    justify-content: space-between;
}

#laterales_capsule {
  display: flex;
  flex-direction: column;
  justify-content: start;
}






/* CORES */
.caja_core{
  padding: 5px;
  width: 270px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
  border: 1px solid rgb(255, 255, 255);
}

.caja_core > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
  scrollbar-width: none;
}

.caja_core > div > article {
  display: flex;
  justify-content: space-between;
}

#section_inferior_core {
  display: flex;
  justify-content: center;
}

#core_articles {
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

#core_articles > article{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid white;
  padding: 10px;
}


/* COMPANY */
#laterales_company {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#container_cajas_inferiores_company {
  display: flex;
  justify-content: center;
  gap: 100px;
}

#links_company {
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 470px;
}

#links_company > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#links_company > div > a {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: white;
}

#links_company > div > a > img {
  width: 40px;
  height: 40px;
}








/* CREW */
#a_crew {
  color: #ffffff;
  text-decoration: none;
}








/* DRAGONS */
#right_side_dragons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 50px;
}

#dragon_thrusters_article {
  display: flex;
  flex-direction: column;
  gap: 15px;
}










/* HISTORY */
#caja_core_history {
  display: flex;
  align-items: center;
  gap: 20px;
  border: none;
}

#caja_core_history > a{
  display: flex;
  justify-content: center;
}

#wikipedia_logo_history {
  width: 70%;
}







/* LANDPADS */
#caja_landpad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  border: none;
}

#caja_landpad > article {
  border: 1px solid white;
  padding: 8px;
}










/* LAUNCHES */
#dates_launches {

  padding-top: 50PX;
}

#dates_launches > UL{
  display: flex;
  flex-direction: column;
  gap: 10px;
}








/* PAYLOADS */
#inferior_payloads {
  justify-content: center;
  gap: 40px;
  width: 100%;
}